
@import "../node_modules/bootstrap/scss/bootstrap";

$onyx: #2b2c30;

/* SCSS HEX */
$charcoal: #264653ff;
$persian-green:#2a9d8fff;
$maize-crayola: #e9c46aff;
$sandy-brown: #f4a261ff;
$burnt-sienna: #e76f51ff;

/* SCSS HSL */
$charcoal: hsla(197, 37%, 24%, 1);
$persian-green: hsla(173, 58%, 39%, 1);
$maize-crayola: hsla(43, 74%, 66%, 1);
$sandy-brown: hsla(27, 87%, 67%, 1);
$burnt-sienna: hsla(12, 76%, 61%, 1);

/* SCSS RGB */
$charcoal: rgba(38, 70, 83, 1);
$persian-green: rgb(51, 194, 177);
$maize-crayola: rgba(233, 196, 106, 1);
$sandy-brown: rgba(244, 162, 97, 1);
$burnt-sienna: rgba(231, 111, 81, 1);

$light-text-color:#F0F0F0;

body {
  background-color: $onyx;
  color: $light-text-color;
}

a {
  // color: $persian-green;
  color: sandybrown;
  &:focus {
    color: $sandy-brown;
  } 

  &:hover {
    color: $sandy-brown;
    filter:brightness(1.2);
  }
}

.nav-item > a {
  color: $persian-green;

  &:hover {
    color: $persian-green;
    filter:brightness(1.2);
  }
}

.card {
  background-color: #6B6B6B;
  color: $light-text-color;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#header:target {

  h1 > a {
    color: black;
    background-color:$sandy-brown;
  }
}

#contact:target {
  color: black;
  background-color:$sandy-brown;
}

#projects:target {
  color: black;
  background-color:$sandy-brown;
}

#profile:target {
  color: black;
  background-color:$sandy-brown;
}

#background:target {
  color: black;
  background-color:$sandy-brown;
}

.accordion-body {
  color: black;
}